Repository Azure/azure-iot-cli-extension, changes with the owners that .github/CODEOWNERS names for each.
All owners: @digimaun, @prbans, @montgomp, @c-ryan-k

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Global Code Owner(s)
*   @digimaun

# Central Code Owner(s)
azext_iot/central/   @prbans
azext_iot/tests/central/   @prbans
azext_iot/tests/test_iot_central_int.py   @prbans
azext_iot/tests/test_iot_central_unit.py   @prbans

# Monitor Code Owner(s)
azext_iot/monitor/   @prbans @digimaun

# AICS Code Owner(s)
azext_iot/product/   @montgomp @c-ryan-k
azext_iot/tests/product/   @montgomp @c-ryan-k

# PnP Repository Code Owners(s)
azext_iot/pnp/   @c-ryan-k
azext_iot/tests/pnp/   @c-ryan-k

# Test Code Owners
azext_iot/tests/test_monitor_parsers_unit.py   @prbans @digimaun
azext_iot/tests/test_uamqp_import.py   @prbans @digimaun

Fix style checks and update setup.py
  azext_iot/_params.py
  azext_iot/operations/_mqtt.py
  azext_iot/operations/hub.py
  azext_iot/tests/conftest.py
  azext_iot/tests/iothub/test_iot_ext_unit.py
  azext_iot/tests/iothub/test_iot_messaging_int.py
  setup.py
Owners: @digimaun

Update param names
  azext_iot/operations/_mqtt.py
  azext_iot/operations/hub.py
Owners: @digimaun

Temporary inline ignore deprecated-argument rule.
  azext_iot/monitor/telemetry.py
Owners: @prbans, @digimaun

Refactoring
  azext_iot/_help.py
  azext_iot/_params.py
  azext_iot/operations/_mqtt.py
  azext_iot/operations/hub.py
  dev_requirements
  setup.py
Owners: @digimaun

Temporary inline ignore deprecated-argument rule. (#335)
  azext_iot/monitor/telemetry.py
Owners: @prbans, @digimaun

CI temp supports device_client_integration branch.
  .azure-devops/merge.yml
Owners: @digimaun

updating History.rst
  HISTORY.rst
Owners: @digimaun

updating docs
  HISTORY.rst
  azext_iot/central/_help.py
Owners: @digimaun, @prbans

linter errors
  azext_iot/central/_help.py
  azext_iot/central/commands_device.py
  azext_iot/central/params.py
  azext_iot/central/providers/device_provider.py
  azext_iot/central/services/_utility.py
  azext_iot/central/services/device.py
  azext_iot/tests/central/test_iot_central_int.py
  azext_iot/tests/central/test_iot_central_unit.py
Owners: @prbans

moving assertion to the end of test
  azext_iot/tests/central/test_iot_central_int.py
Owners: @prbans

removing default from source since it can change
  azext_iot/central/params.py
  azext_iot/tests/central/test_iot_central_int.py
Owners: @prbans

passing parameters conditionally in e2e
  azext_iot/tests/central/test_iot_central_int.py
Owners: @prbans

documentation update
  azext_iot/central/_help.py
  azext_iot/central/params.py
Owners: @prbans

adding message about default ttl
  azext_iot/central/services/device.py
Owners: @prbans

Update merge.yml for Azure Pipelines
  .azure-devops/merge.yml
Owners: @digimaun

linting fix
  azext_iot/central/services/device.py
Owners: @prbans

IOT Central multi-hub failover commands (#334)
  .gitignore
  HISTORY.rst
  azext_iot/central/_help.py
  azext_iot/central/command_map.py
  azext_iot/central/commands_device.py
  azext_iot/central/params.py
  azext_iot/central/providers/device_provider.py
  azext_iot/central/services/_utility.py
  azext_iot/central/services/device.py
  azext_iot/tests/central/test_iot_central_int.py
  azext_iot/tests/central/test_iot_central_unit.py
Owners: @digimaun, @prbans

Update HISTORY.rst
  HISTORY.rst
Owners: @digimaun

Add delete-all models
  azext_iot/digitaltwins/_help.py
  azext_iot/digitaltwins/command_map.py
  azext_iot/digitaltwins/providers/model.py
  azext_iot/tests/digitaltwins/test_dt_model_lifecycle_int.py
  azext_iot/tests/digitaltwins/test_dt_model_unit.py
Owners: @digimaun

starting model delete all
  azext_iot/digitaltwins/command_map.py
  azext_iot/digitaltwins/commands_models.py
  azext_iot/digitaltwins/providers/model.py
Owners: @digimaun

nit changes
  azext_iot/digitaltwins/commands_twins.py
  azext_iot/tests/digitaltwins/test_dt_twin_lifecycle_int.py
  azext_iot/tests/digitaltwins/test_dt_twins_unit.py
Owners: @digimaun

Update merge.yml
  .azure-devops/merge.yml
Owners: @digimaun

linter changes
  azext_iot/digitaltwins/_help.py
  azext_iot/tests/digitaltwins/test_dt_model_unit.py
Owners: @digimaun

Update merge.yml for Azure Pipelines
  .azure-devops/merge.yml
Owners: @digimaun

Explicit branch includes.
  .azure-devops/merge.yml
  .azure-devops/templates/calculate-code-coverage.yml
Owners: @digimaun

Explicit branch includes. (#338)
  .azure-devops/merge.yml
  .azure-devops/templates/calculate-code-coverage.yml
Owners: @digimaun

Set up CI with Azure Pipelines
  .azure-devops/merge.yml
Owners: @digimaun

Create merge_device_client.yml
  .azure-devops/features/merge_device_client.yml
Owners: @digimaun

WIP
  .azure-devops/merge_device_client.yml
Owners: @digimaun

Update HISTORY.rst
  HISTORY.rst
Owners: @digimaun

Update HISTORY.rst
  HISTORY.rst
Owners: @digimaun

initial commit
  azext_iot/central/commands_api_token.py
  azext_iot/central/commands_device.py
  azext_iot/central/commands_device_template.py
  azext_iot/central/commands_user.py
  azext_iot/central/models/enum.py
  azext_iot/central/params.py
  azext_iot/central/providers/api_token_provider.py
  azext_iot/central/providers/device_provider.py
  azext_iot/central/providers/device_template_provider.py
  azext_iot/central/providers/user_provider.py
  azext_iot/central/services/api_token.py
  azext_iot/central/services/device.py
  azext_iot/central/services/device_template.py
  azext_iot/central/services/user.py
  azext_iot/tests/central/test_iot_central_int.py
Owners: @prbans

pr feedback
  azext_iot/digitaltwins/_help.py
  azext_iot/digitaltwins/providers/model.py
Owners: @digimaun

add singular delete to int test
  azext_iot/tests/digitaltwins/test_dt_model_lifecycle_int.py
Owners: @digimaun

Created helper for tests
  azext_iot/tests/digitaltwins/dt_helpers.py
  azext_iot/tests/digitaltwins/test_dt_model_unit.py
  azext_iot/tests/digitaltwins/test_dt_twins_unit.py
Owners: @digimaun

Moved fixture, rename twin test file
  azext_iot/tests/conftest.py
  azext_iot/tests/digitaltwins/dt_helpers.py
  azext_iot/tests/digitaltwins/test_dt_model_unit.py
  azext_iot/tests/digitaltwins/test_dt_twin_unit.py
Owners: @digimaun

additional changes
  azext_iot/central/_help.py
  azext_iot/central/commands_device.py
  azext_iot/central/models/device.py
  azext_iot/central/models/template.py
  azext_iot/central/params.py
  azext_iot/central/providers/device_provider.py
  azext_iot/central/services/device.py
  azext_iot/monitor/parsers/central_parser.py
  azext_iot/monitor/property.py
  azext_iot/tests/central/test_iot_central_int.py
Owners: @prbans, @digimaun

update model deletion algo
  azext_iot/digitaltwins/providers/model.py
  azext_iot/tests/digitaltwins/test_dt_model_unit.py
Owners: @digimaun

get model dependencies helper function
  azext_iot/digitaltwins/providers/model.py
Owners: @digimaun

small changes to helper function
  azext_iot/digitaltwins/providers/model.py
Owners: @digimaun
