Repository Azure/azure-iot-cli-extension, changes with the owners that .github/CODEOWNERS names for each.
All owners: @digimaun, @prbans, @montgomp, @c-ryan-k

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Global Code Owner(s)
*   @digimaun

# Central Code Owner(s)
azext_iot/central/   @prbans
azext_iot/tests/central/   @prbans
azext_iot/tests/test_iot_central_int.py   @prbans
azext_iot/tests/test_iot_central_unit.py   @prbans

# Monitor Code Owner(s)
azext_iot/monitor/   @prbans @digimaun

# AICS Code Owner(s)
azext_iot/product/   @montgomp @c-ryan-k
azext_iot/tests/product/   @montgomp @c-ryan-k

# PnP Repository Code Owners(s)
azext_iot/pnp/   @c-ryan-k
azext_iot/tests/pnp/   @c-ryan-k

# Test Code Owners
azext_iot/tests/test_monitor_parsers_unit.py   @prbans @digimaun
azext_iot/tests/test_uamqp_import.py   @prbans @digimaun

review updates
  azext_iot/central/models/__init__.py
  azext_iot/central/models/devicev1.py
  azext_iot/central/providers/v1/device_provider_v1.py
Owners: @prbans

lint fixes
  azext_iot/tests/helpers.py
Owners: @digimaun

Add warning for qos deprecation and update contributing guide
  CONTRIBUTING.md
  azext_iot/_params.py
Owners: @digimaun

removing version from deprecate_info
  azext_iot/_params.py
Owners: @digimaun

Integration tests command update in Contributing guide
  CONTRIBUTING.md
Owners: @digimaun

Add warning for qos deprecation and update contributing guide (#342)
  CONTRIBUTING.md
  azext_iot/_params.py
Owners: @digimaun

Integrate TQDM to show progress bar when simulator sends d2c messages
  azext_iot/operations/_mqtt.py
  setup.py
Owners: @digimaun

Managed identity support for device-identity import and export (#11)
  azext_iot/_help.py
  azext_iot/_params.py
  azext_iot/constants.py
  azext_iot/operations/hub.py
  azext_iot/tests/iothub/test_iot_ext_int.py
  azext_iot/tests/iothub/test_iot_hub_unit.py
Owners: @digimaun

remove unused loop varable
  azext_iot/operations/_mqtt.py
Owners: @digimaun

Update progress bar descriptionb
  azext_iot/operations/_mqtt.py
Owners: @digimaun

int testing
  azext_iot/digitaltwins/command_map.py
  azext_iot/digitaltwins/providers/resource.py
  azext_iot/tests/digitaltwins/__init__.py
  azext_iot/tests/digitaltwins/test_dt_privatelinks_lifecycle_int.py
  azext_iot/tests/digitaltwins/test_dt_resource_lifecycle_int.py
Owners: @digimaun

int testing
  azext_iot/digitaltwins/command_map.py
  azext_iot/digitaltwins/providers/resource.py
  azext_iot/tests/digitaltwins/__init__.py
  azext_iot/tests/digitaltwins/test_dt_privatelinks_lifecycle_int.py
  azext_iot/tests/digitaltwins/test_dt_resource_lifecycle_int.py
Owners: @digimaun

update to use wait
  azext_iot/digitaltwins/_help.py
  azext_iot/digitaltwins/command_map.py
  azext_iot/digitaltwins/params.py
  azext_iot/digitaltwins/providers/resource.py
Owners: @digimaun

fix error status code
  azext_iot/digitaltwins/commands_resource.py
  azext_iot/digitaltwins/providers/resource.py
Owners: @digimaun

Integrate TQDM to show progress bar when simulator sends d2c messages (#343)
  azext_iot/operations/_mqtt.py
  setup.py
Owners: @digimaun

Update help message for d2c command and mqtt simulation to indicate only sas auth is supported
  azext_iot/_help.py
Owners: @digimaun

remove preview tag
  azext_iot/central/command_map.py
Owners: @prbans

remove preview tag on device_twin route
  azext_iot/central/command_map.py
Owners: @prbans

update history
  HISTORY.rst
Owners: @digimaun

minor updates
  HISTORY.rst
Owners: @digimaun

history updates
  HISTORY.rst
Owners: @digimaun

Fix for new identity parameter format
  azext_iot/tests/iothub/test_iot_ext_int.py
Owners: @digimaun

update help
  azext_iot/digitaltwins/_help.py
Owners: @digimaun

Iotc command ga (#348)
  HISTORY.rst
  azext_iot/central/command_map.py
Owners: @digimaun, @prbans

Use enum value instead of literal str.
  azext_iot/_factory.py
Owners: @digimaun

Use enum value instead of literal str. (#349)
  azext_iot/_factory.py
Owners: @digimaun

test updates
  azext_iot/tests/iothub/test_iot_ext_int.py
Owners: @digimaun

Managed identity support for device-identity import and export (#344)
  azext_iot/_help.py
  azext_iot/_params.py
  azext_iot/constants.py
  azext_iot/operations/hub.py
  azext_iot/tests/iothub/test_iot_ext_int.py
  azext_iot/tests/iothub/test_iot_hub_unit.py
Owners: @digimaun

Update azext_metadata.json
  azext_iot/azext_metadata.json
Owners: @digimaun

Update azext_metadata.json (#351)
  azext_iot/azext_metadata.json
Owners: @digimaun

Increment version to v0.10.13
  azext_iot/constants.py
Owners: @digimaun

Add dataplane reset
  azext_iot/digitaltwins/_help.py
  azext_iot/digitaltwins/command_map.py
  azext_iot/digitaltwins/commands_resource.py
  azext_iot/digitaltwins/params.py
  azext_iot/tests/digitaltwins/test_dt_twin_lifecycle_int.py
Owners: @digimaun

Update README.md
  README.md
Owners: @digimaun

Update HISTORY.rst
  HISTORY.rst
Owners: @digimaun

pr comments
  azext_iot/digitaltwins/_help.py
  azext_iot/digitaltwins/command_map.py
  azext_iot/digitaltwins/params.py
Owners: @digimaun

update dt reset to only support deleting both
  azext_iot/digitaltwins/_help.py
  azext_iot/digitaltwins/command_map.py
  azext_iot/digitaltwins/commands_resource.py
  azext_iot/digitaltwins/params.py
  azext_iot/tests/digitaltwins/test_dt_twin_lifecycle_int.py
Owners: @digimaun

Remove unused import
  azext_iot/digitaltwins/commands_resource.py
Owners: @digimaun

update twin reported properties during simulation
  azext_iot/operations/_mqtt.py
  azext_iot/tests/iothub/test_iot_messaging_int.py
Owners: @digimaun

update unit tests
  azext_iot/operations/_mqtt.py
  azext_iot/tests/conftest.py
  azext_iot/tests/iothub/test_iot_ext_unit.py
Owners: @digimaun

Add dataplane reset (#352)
  azext_iot/digitaltwins/_help.py
  azext_iot/digitaltwins/command_map.py
  azext_iot/digitaltwins/commands_resource.py
  azext_iot/tests/digitaltwins/test_dt_twin_lifecycle_int.py
Owners: @digimaun
