Repository Azure/azure-iot-cli-extension, changes with the owners that .github/CODEOWNERS names for each.
All owners: @digimaun, @prbans, @montgomp, @c-ryan-k

recursion error
  azext_iot/digitaltwins/providers/model.py
Owners: @digimaun

add support for v1 and preview routes
  azext_iot/central/commands_api_token.py
  azext_iot/central/commands_device.py
  azext_iot/central/commands_device_template.py
  azext_iot/central/commands_user.py
  azext_iot/central/models/__init__.py
  azext_iot/central/models/deviceV1.py
  azext_iot/central/models/devicepreview.py
  azext_iot/central/models/enum.py
  azext_iot/central/models/templatepreview.py
  azext_iot/central/models/templatev1.py
  azext_iot/central/params.py
  azext_iot/central/providers/__init__.py
  azext_iot/central/providers/devicetwin_provider.py
  azext_iot/central/providers/monitor_provider.py
  azext_iot/central/providers/preview/__init__.py
  azext_iot/central/providers/preview/api_token_provider_preview.py
  azext_iot/central/providers/preview/device_provider_preview.py
  azext_iot/central/providers/preview/device_template_provider_preview.py
  azext_iot/central/providers/preview/user_provider_preview.py
  azext_iot/central/providers/v1/__init__.py
  azext_iot/central/providers/v1/api_token_provider_v1.py
  azext_iot/central/providers/v1/device_provider_v1.py
  azext_iot/central/providers/v1/device_template_provider_v1.py
  azext_iot/central/providers/v1/user_provider_v1.py
  azext_iot/central/services/device.py
  azext_iot/central/services/device_template.py
  azext_iot/central/services/user.py
  azext_iot/monitor/handlers/central_handler.py
  azext_iot/monitor/parsers/central_parser.py
  azext_iot/monitor/property.py
  azext_iot/tests/central/json/deeply_nested_template.json
  azext_iot/tests/central/json/device_template.json
  azext_iot/tests/central/json/device_template_int_test.json
  azext_iot/tests/central/json/property_validation_template.json
  azext_iot/tests/central/test_iot_central_int.py
  azext_iot/tests/central/test_iot_central_unit.py
  azext_iot/tests/central/test_iot_central_validator_unit.py
  azext_iot/tests/utility/test_monitor_parsers_unit.py
Owners: @prbans, @digimaun

update history file
  HISTORY.rst
Owners: @digimaun

missing merge updates
  azext_iot/central/commands_device.py
  azext_iot/central/services/device.py
  azext_iot/tests/central/test_iot_central_int.py
Owners: @prbans

Add tests, update get_dependencies
  azext_iot/digitaltwins/providers/model.py
  azext_iot/tests/digitaltwins/test_dt_model_provider_unit.py
Owners: @digimaun

update get dependencies
  azext_iot/digitaltwins/providers/model.py
  azext_iot/tests/digitaltwins/test_dt_model_provider_unit.py
Owners: @digimaun

minor-updates
  azext_iot/central/commands_device.py
Owners: @prbans

Model delete all (#337)
  azext_iot/digitaltwins/_help.py
  azext_iot/digitaltwins/command_map.py
  azext_iot/digitaltwins/commands_models.py
  azext_iot/digitaltwins/commands_twins.py
  azext_iot/digitaltwins/providers/model.py
  azext_iot/tests/conftest.py
  azext_iot/tests/digitaltwins/dt_helpers.py
  azext_iot/tests/digitaltwins/test_dt_model_lifecycle_int.py
  azext_iot/tests/digitaltwins/test_dt_model_provider_unit.py
  azext_iot/tests/digitaltwins/test_dt_model_unit.py
  azext_iot/tests/digitaltwins/test_dt_twin_lifecycle_int.py
  azext_iot/tests/digitaltwins/test_dt_twin_unit.py
Owners: @digimaun

Introducing IoT Hub dataplane RBAC support.
  HISTORY.rst
  azext_iot/_factory.py
  azext_iot/_help.py
  azext_iot/_params.py
  azext_iot/commands.py
  azext_iot/common/shared.py
  azext_iot/common/utility.py
  azext_iot/constants.py
  azext_iot/iothub/commands_job.py
  azext_iot/iothub/providers/aad_oauth.py
  azext_iot/iothub/providers/base.py
  azext_iot/iothub/providers/discovery.py
  azext_iot/operations/hub.py
  azext_iot/tests/__init__.py
  azext_iot/tests/iothub/__init__.py
  azext_iot/tests/iothub/configurations/test_iot_config_int.py
  azext_iot/tests/iothub/devices/__init__.py
  azext_iot/tests/iothub/devices/test_iothub_device_tracing.py
  azext_iot/tests/iothub/devices/test_iothub_device_twin_int.py
  azext_iot/tests/iothub/devices/test_iothub_devices_int.py
  azext_iot/tests/iothub/devices/test_iothub_nested_edge_int.py
  azext_iot/tests/iothub/jobs/test_iothub_jobs_int.py
  azext_iot/tests/iothub/modules/__init__.py
  azext_iot/tests/iothub/modules/test_iothub_module_twin_int.py
  azext_iot/tests/iothub/modules/test_iothub_modules_int.py
  azext_iot/tests/iothub/test_iot_ext_int.py
  azext_iot/tests/iothub/test_iot_ext_unit.py
  azext_iot/tests/iothub/test_iot_messaging_int.py
  azext_iot/tests/iothub/test_iothub_nested_edge_int.py
  azext_iot/tests/iothub/test_iothub_utilities_int.py
  dev_requirements
  linter_exclusions.yml
Owners: @digimaun

Update param names
  azext_iot/operations/_mqtt.py
  azext_iot/operations/hub.py
Owners: @digimaun

Add support for direct method in simulator and integrate IoT Python SDK
  CONTRIBUTING.md
  azext_iot/operations/_mqtt.py
  azext_iot/operations/hub.py
  azext_iot/tests/conftest.py
  azext_iot/tests/iothub/test_iot_ext_unit.py
  azext_iot/tests/iothub/test_iot_messaging_int.py
Owners: @digimaun

Fix style checks and update setup.py
  azext_iot/_params.py
  azext_iot/operations/_mqtt.py
  azext_iot/operations/hub.py
  azext_iot/tests/conftest.py
  azext_iot/tests/iothub/test_iot_ext_unit.py
  azext_iot/tests/iothub/test_iot_messaging_int.py
  setup.py
Owners: @digimaun

Update az iot device simulate command to send direct method response status and payload
  azext_iot/_help.py
  azext_iot/_params.py
  azext_iot/operations/_mqtt.py
  azext_iot/operations/hub.py
  azext_iot/tests/iothub/test_iot_messaging_int.py
  setup.py
Owners: @digimaun

Remove min version checks on python version since requirement to run is Python 3.6
  azext_iot/tests/iothub/test_iot_ext_unit.py
  azext_iot/tests/iothub/test_iot_messaging_int.py
Owners: @digimaun

Performance improvements and corresponding test updates
  azext_iot/_params.py
  azext_iot/operations/hub.py
  azext_iot/tests/conftest.py
  azext_iot/tests/iothub/test_iot_ext_unit.py
  azext_iot/tests/iothub/test_iot_messaging_int.py
Owners: @digimaun

Refactoring
  azext_iot/_help.py
  azext_iot/_params.py
  azext_iot/operations/_mqtt.py
  azext_iot/operations/hub.py
  dev_requirements
  setup.py
Owners: @digimaun

Eliminate paho dependency
  azext_iot/_help.py
  azext_iot/operations/_mqtt.py
  azext_iot/operations/hub.py
  azext_iot/tests/iothub/test_iot_messaging_int.py
  setup.py
  thirdpartynotice
Owners: @digimaun

update test method name
  azext_iot/tests/iothub/test_iot_messaging_int.py
Owners: @digimaun

Interim changes for investigating timing
  azext_iot/_params.py
  azext_iot/operations/hub.py
  azext_iot/tests/iothub/test_iot_messaging_int.py
Owners: @digimaun

C2D display all properties, update tests and refactoring
  azext_iot/_params.py
  azext_iot/operations/_mqtt.py
  azext_iot/operations/hub.py
  azext_iot/tests/iothub/test_iot_ext_unit.py
Owners: @digimaun

Create merge_device_client.yml
  .azure-devops/features/merge_device_client.yml
Owners: @digimaun

Add 1 second buffer on monitor test
  azext_iot/_help.py
  azext_iot/tests/iothub/test_iot_messaging_int.py
Owners: @digimaun

Minor updates to help and param
  azext_iot/_help.py
  azext_iot/_params.py
  azext_iot/tests/iothub/test_iot_messaging_int.py
Owners: @digimaun

WIP
  .azure-devops/merge_device_client.yml
Owners: @digimaun

update to use wait
  azext_iot/digitaltwins/_help.py
  azext_iot/digitaltwins/command_map.py
  azext_iot/digitaltwins/params.py
  azext_iot/digitaltwins/providers/resource.py
Owners: @digimaun

update to use wait
  azext_iot/digitaltwins/_help.py
  azext_iot/digitaltwins/command_map.py
  azext_iot/digitaltwins/params.py
  azext_iot/digitaltwins/providers/resource.py
Owners: @digimaun

Delete merge_device_client.yml
  .azure-devops/merge_device_client.yml
Owners: @digimaun

remove qos
  azext_iot/_params.py
  azext_iot/operations/hub.py
Owners: @digimaun

Add support for direct method in simulator and integrate IoT Python SDK (#336)
  CONTRIBUTING.md
  azext_iot/_help.py
  azext_iot/_params.py
  azext_iot/operations/_mqtt.py
  azext_iot/operations/hub.py
  azext_iot/tests/conftest.py
  azext_iot/tests/iothub/test_iot_ext_unit.py
  azext_iot/tests/iothub/test_iot_messaging_int.py
  dev_requirements
  setup.py
  thirdpartynotice
Owners: @digimaun

Uamqp integration with jwt auth.
  HISTORY.rst
  azext_iot/_params.py
  azext_iot/monitor/event.py
  azext_iot/operations/hub.py
  azext_iot/tests/iothub/messaging/__init__.py
  azext_iot/tests/iothub/messaging/test_iothub_c2d_messages_int.py
Owners: @digimaun, @prbans

Modify HISTORY.rst
  HISTORY.rst
Owners: @digimaun

address review comments
  azext_iot/central/models/__init__.py
  azext_iot/central/models/deviceV1.py
  azext_iot/central/models/templatev1.py
  azext_iot/central/providers/preview/api_token_provider_preview.py
  azext_iot/central/providers/preview/device_provider_preview.py
  azext_iot/central/providers/v1/device_provider_v1.py
  azext_iot/central/services/device.py
  azext_iot/central/services/user.py
Owners: @prbans

fix error status code
  azext_iot/digitaltwins/commands_resource.py
  azext_iot/digitaltwins/providers/resource.py
Owners: @digimaun

address code review comments
  azext_iot/central/params.py
Owners: @prbans

changes
  azext_iot/central/models/deviceV1.py
  azext_iot/central/models/devicepreview.py
Owners: @prbans

file update
  azext_iot/central/models/devicePreview.py
  azext_iot/central/models/deviceV1.py
Owners: @prbans

address review comments
  azext_iot/central/models/__init__.py
  azext_iot/central/models/devicePreview.py
  azext_iot/central/models/deviceV1.py
  azext_iot/central/models/templatev1.py
  azext_iot/central/providers/preview/api_token_provider_preview.py
  azext_iot/central/providers/preview/device_provider_preview.py
  azext_iot/central/providers/preview/device_template_provider_preview.py
  azext_iot/central/providers/preview/user_provider_preview.py
  azext_iot/central/providers/v1/api_token_provider_v1.py
  azext_iot/central/providers/v1/device_provider_v1.py
  azext_iot/central/providers/v1/device_template_provider_v1.py
  azext_iot/central/providers/v1/user_provider_v1.py
  azext_iot/central/services/api_token.py
  azext_iot/central/services/device.py
  azext_iot/central/services/device_template.py
  azext_iot/central/services/user.py
Owners: @prbans

Introducing IoT Hub dataplane RBAC support + various improvements (#341)
  HISTORY.rst
  azext_iot/_factory.py
  azext_iot/_help.py
  azext_iot/_params.py
  azext_iot/commands.py
  azext_iot/common/shared.py
  azext_iot/common/utility.py
  azext_iot/constants.py
  azext_iot/iothub/commands_job.py
  azext_iot/iothub/providers/aad_oauth.py
  azext_iot/iothub/providers/base.py
  azext_iot/iothub/providers/discovery.py
  azext_iot/monitor/event.py
  azext_iot/operations/hub.py
  azext_iot/tests/__init__.py
  azext_iot/tests/iothub/__init__.py
  azext_iot/tests/iothub/configurations/test_iot_config_int.py
  azext_iot/tests/iothub/devices/__init__.py
  azext_iot/tests/iothub/devices/test_iothub_device_tracing.py
  azext_iot/tests/iothub/devices/test_iothub_device_twin_int.py
  azext_iot/tests/iothub/devices/test_iothub_devices_int.py
  azext_iot/tests/iothub/devices/test_iothub_nested_edge_int.py
  azext_iot/tests/iothub/jobs/test_iothub_jobs_int.py
  azext_iot/tests/iothub/messaging/__init__.py
  azext_iot/tests/iothub/messaging/test_iothub_c2d_messages_int.py
  azext_iot/tests/iothub/modules/__init__.py
  azext_iot/tests/iothub/modules/test_iothub_module_twin_int.py
  azext_iot/tests/iothub/modules/test_iothub_modules_int.py
  azext_iot/tests/iothub/test_iot_ext_int.py
  azext_iot/tests/iothub/test_iot_ext_unit.py
  azext_iot/tests/iothub/test_iot_messaging_int.py
  azext_iot/tests/iothub/test_iothub_nested_edge_int.py
  azext_iot/tests/iothub/test_iothub_utilities_int.py
  dev_requirements
  linter_exclusions.yml
Owners: @digimaun, @prbans

interim changes
  azext_iot/central/models/deviceV1.py
Owners: @prbans

reiew updates
  azext_iot/central/models/templatepreview.py
  azext_iot/tests/helpers.py
Owners: @prbans, @digimaun

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Global Code Owner(s)
*   @digimaun

# Central Code Owner(s)
azext_iot/central/   @prbans
azext_iot/tests/central/   @prbans
azext_iot/tests/test_iot_central_int.py   @prbans
azext_iot/tests/test_iot_central_unit.py   @prbans

# Monitor Code Owner(s)
azext_iot/monitor/   @prbans @digimaun

# AICS Code Owner(s)
azext_iot/product/   @montgomp @c-ryan-k
azext_iot/tests/product/   @montgomp @c-ryan-k

# PnP Repository Code Owners(s)
azext_iot/pnp/   @c-ryan-k
azext_iot/tests/pnp/   @c-ryan-k

# Test Code Owners
azext_iot/tests/test_monitor_parsers_unit.py   @prbans @digimaun
azext_iot/tests/test_uamqp_import.py   @prbans @digimaun
